.login-container{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
radial-gradient(circle at top,#2D0A54,#09090B 60%);
}

.login-card{

width:430px;

padding:45px;

border-radius:24px;

background:#18181B;

border:1px solid #34343c;

box-shadow:
0 0 35px rgba(139,92,246,.25);

}

.logo-section{

text-align:center;

margin-bottom:35px;

}

.logo-section h1{

font-size:48px;

color:#A855F7;

margin-bottom:12px;

font-weight:700;

}

.logo-section p{

color:#A1A1AA;

}

.form-group{

margin-bottom:22px;

}

.form-group label{

display:block;

margin-bottom:8px;

color:#E4E4E7;

}

.form-group input{

width:100%;

padding:16px;

background:#0F0F13;

color:white;

border:1px solid #2D2D35;

border-radius:12px;

font-size:16px;

}

.form-group input:focus{

outline:none;

border-color:#A855F7;

box-shadow:0 0 15px rgba(168,85,247,.3);

}

.login-btn{

width:100%;

padding:16px;

margin-top:12px;

border:none;

border-radius:12px;

background:linear-gradient(90deg,#7C3AED,#A855F7);

color:white;

font-size:17px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

transform:translateY(-2px);

box-shadow:0 0 25px rgba(168,85,247,.45);

}

.register-text{

margin-top:28px;

text-align:center;

color:#A1A1AA;

}

.register-text span{

color:#A855F7;

margin-left:6px;

font-weight:bold;

cursor:pointer;

}