*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,Arial,sans-serif;
}

body{
background:#09090B;
color:white;
}

a{
text-decoration:none;
color:inherit;
}

button{
font-family:inherit;
}

input{
font-family:inherit;
}